form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:root{
    --button-color: #00AF7E;
    --text-color: rgb(187, 186, 186);
    --color-white: white ;
    --border-color: #D9DDE8;
    --background-color:linear-gradient(to right, rgb(20, 20, 43), rgb(76, 76, 99));
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.register-form{
    width: 45rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 2px;
}
.form-header{
    color: grey;
}

.form-field{
    height: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding-left: 0.4rem;
}
.form-field:focus{
    outline: none;
    color: black;
}

.submit-btn{
    background-color: var(--button-color);
    height: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #2fb891;
}
.form-text{
    color: rgb(19, 18, 18);
    font-size: 12px;
}
.outside-text{
    font-size: 0.8rem;
    color: black;
    padding-top: 0.5rem;
}
.login{
    color: var(--button-color);
}

@media(max-width:768px){
    .register-form{
        width: 25rem;
    }
}